body {
  font-family: 'Roboto';
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.custom-navbar {
  padding: 1em 0;
}

.pet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pet-container>.ui.card {
  margin-top: 0;
  margin-bottom: 0;
}
